---
import AppLayout from '../layouts/AppLayout.astro';
import Header from '../components/Header.astro';
---

<AppLayout title="Block Blast" description="test">
  <Header />
  <main class="min-h-screen bg-[var(--background)] p-8 pt-[74px] text-[var(--foreground)]">
    header test
  </main>
</AppLayout>
